{% from "nostack/postgres/map.jinja" import postgres with context %}
[program:postgresql-server]
command={{ postgres.bin_directory }}/postgres -D {{ postgres.data_directory }} -c config_file="/etc/postgres/{{ postgres.major_version }}/nostack/postgresql.conf"
pidfile=/var/run/postgresql/{{ postgres.major_version }}-nostack.pid
user=postgres
group=postgres
autostart=true
autorestart=true
redirect_stderr=true
stopsignal=QUIT
