{% from "nostack/postgres/map.jinja" import postgres with context %}
[program:postgresql-server]
command={{ postgres.postgres_bin }}/postgres -D {{ postgres.postgres_data }} -c config_file="{{ postgres.postgres_conf }}/postgresql.conf"
pidfile=/var/run/postgresql/{{ postgres.major_version }}-nostack.pid
user=postgres
group=postgres
autostart=true
autorestart=true
redirect_stderr=true
stopsignal=QUIT
