{% set postgres = salt['grains.filter_by']({
    'RedHat': {
        'major_version': '9.3',
        'package': 'postgresql93-server',
        'service': 'postgresql-9.3',
        'bin_directory': '/usr/pgsql-9.3/bin/',
        'data_directory': '/var/db/postgres/9.3/nostack',
        'log_directory': '/var/log/postgres/9.3/nostack',
        'default_encoding': 'UTF-8',
    },
}, merge=salt['pillar.get']('postgres:environment')) %}
