{% set graphiteweb = salt['grains.filter_by']({
    'RedHat': {
        'pkg': 'coreops-python2-graphite-web',
        'python': '/home/coreops/bin/python',
        'gunicorn': '/home/coreops/bin/gunicorn',
        'rrd_dir': '/data/graphite/rrd',
        'log_dir': '/data/graphite/log/graphite-web',
        'index_file': '/data/graphite/graphite-web-index',
    },
}, merge=salt['pillar.get']('graphiteweb:environment')) %}

{% set carbon = salt['grains.filter_by']({
    'RedHat': {
        'python': '/home/coreops/bin/python',
        'root_dir': '/opt/graphite',
        'conf_dir': '/opt/graphite/conf',
        'storage_dir': '/data/graphite',
        'local_data_dir': '/data/graphite/whisper',
        'whitelists_dir': '/data/graphite/whitelists',
        'log_dir': '/data/graphite/log/carbon-cache',
        'pid_dir': '/data/graphite/run',
    },
}, merge=salt['pillar.get']('carbon:environment')) %}

{% set carbonrelay = salt['grains.filter_by']({
    'RedHat': {
        'python': '/home/coreops/bin/python',
        'log_dir': '/data/graphite/log/carbon-cache',
        'pid_dir': '/data/graphite/run',
        'relay_method': 'consistent-hashing',
        'replication_factor': '1',
    },
}, merge=salt['pillar.get']('carbonrelay:environment')) %}
