{% set major_version = '9.3' %}
{% set postgres = salt['grains.filter_by']({
    'RedHat': {
        'major_version': major_version,
        'packages': ['postgresql93-server', 'postgresql93-devel'],
        'service': 'postgresql-%s' % major_version,
        'postgres_bin': '/usr/pgsql-%s/bin' % major_version,
        'postgres_conf': '/etc/postgresql/%s/nostack' % major_version,
        'postgres_data': '/var/db/postgresql/%s/nostack' % major_version,
        'postgres_log': '/var/log/postgresql/%s/nostack' % major_version,
        'postgres_run': '/var/run/postgresql/%s/nostack' % major_version,
        'omnipitr_bin': '/opt/omnipitr/bin',
        'omnipitr_state': '/var/db/omnipitr/state' % postgres_data,
        'omnipitr_log': '/var/db/omnipitr/%s/nostack/log' % major_version,
        'omnipitr_tmp': '/var/db/omnipitr/%s/nostack/tmp' % major_version,
        'omnipitr_db': '/var/db/omnipitr/%s/nostack/tmp/db' % major_version,
        'default_encoding': 'UTF-8',
    },
}, merge=salt['pillar.get']('postgres:environment')) %}
